/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


/* .tilt-neon-<uniquifier> { 
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}*/

/* CSS Variables */
:root{
    --primary-font:"Tilt Neon", sans-serif;
    --heading-light-colour:#FAF8F1;
    --heading-dark-colour:#141815;
    --bg-light-colour:#FAF8F1;
    --bg-dark-colour:#141815;
    --noughts-color:#213FCD;
    --crosses-color:#D33131;
    --squares-color:#567b82;
}
/* Asterisk wildcard selector to overide default styles add by the browser */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


/* Global styles */
 body{
    font-family:var(--primary-font);
    min-height:100vh;
    display: flex;
    flex-direction:column;
    color:var(--heading-dark-colour);
    width:100%;
    text-align: center;
}

.heading{
    margin-top: 20px;
    margin-bottom:10px;
    line-height:15px;
}

.game-info{
    margin-top:20px;
    margin-bottom:50px;
}

input{
    padding:10px;
    margin:10px;
    justify-content: center;
    text-transform: capitalize;
}

button{
    padding:15px;
    font-size: 30px;
}


.grid{
    display: none;
    justify-content: center;
    grid-template-columns: repeat(3,60px);
    grid-gap:30px;
    
}

.square{
    height:60px;
    width:60px;
    cursor: pointer;
    border: 5px var(--heading-dark-colour) solid;
    font-size: large;
    background-color: var(--bg-light-colour);
}

.square:hover{
    background:var(--squares-color)
}

footer{
    margin-top:20px;
    padding-top:10px;
    color: var(--heading-light-colour);
}